@import '../styles/colors';

.menu {
  margin-bottom: 25px;
  
  .btn-link,
  .nav-link {
    color: $white;
    text-decoration: none;
  }

  a:hover,
  .btn:hover {
    color: darken($white, 40%);
  }
}
